
.DS_Store
node_modules

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# egg 
logs/
package-lock.json
yarn.lock
coverage/
run/
*.sw*
*.un~
typings/
.nyc_output/